.contact {
  min-height: calc(100vh - 122px);
}
.col-form-label {
  font-size: 1.3rem;
}
.contact-btn {
  background-color: var(--primaryColor);
  border: none;
  padding: 10px;
}
.contact-btn:focus {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
}
.contact-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
}

.contact-alert {
  padding: 8px 5px;
  font-size: 0.9rem;
  text-transform: capitalize;
  border-radius: 5px;
}

@media screen and (max-width: 786px) {
  .col-form-label {
    font-size: 1rem;
  }
}
